:root {
  --red-300: #f25a61;
  --red-500: #e41e26;
  --red-700: #b1171d;

  --white: #ffffff;
  --gray-50: #f7f7f7;
  --gray-100: #e6e6e6;
  --gray-200: #cccccc;
  --gray-300: #b3b3b3;
  --gray-400: #999999;
  --gray-500: #808080;
  --gray-600: #666666;
  --gray-700: #4d4d4d;
  --gray-800: #333333;
  --gray-900: #1a1a1a;

  --feedback-success: #4caf50;
  --feedback-error: #f44336;
  --feedback-warning: #ffc107;

  --color-primary: var(--red-500);
  --color-primary-dark: var(--red-700);
  --color-primary-light: var(--red-300);

  --background-body: var(--gray-50);
  --background-surface: var(--white);
  --text-body: var(--gray-900);
  --text-muted: var(--gray-600);
  --border-default: var(--gray-200);
}